<header class="absolute text-3xl font-bold mt-3 ml-8">Articles</header>
<div class="relative pt-14 pl-4 flex-col">
    Article Count: <%= Article.public_count %>
        <div class="my-2">
            <ul>
            Article Title
                <% @articles.each do |article| %>
                    <% unless article.archived? %>
                        <li class="table">
                            <%= link_to article.title, article %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </div>
        <button class="bg-gray-500 hover:bg-gray-600 
        focus:outline-none focus:ring focus:ring-gray-300 
        rounded-full text-m text-gray-100 ml-1.5 p-2.5 px-3">
    <%= link_to "Add New Article", new_article_path %></button>
</div>
